{% extends '/Layout/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Registration</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
        <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must contain at least one number, one uppercase letter, one lowercase letter, and at least 8 or more characters
        </small>
    </div>
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.name) }}
    {{ form_row(form.billingAddress) }}
    {{ form_row(form.companyIdentification) }}
    {{ form_row(form.termsAccepted) }}
    {#<input type="hidden" name="_target_path" value="/account" />#}

    <div class="form-group">
        <div id='recaptcha' class="g-recaptcha"
             data-sitekey="{{ recaptcha['invisible']['site_key'] }}"
             data-callback="recaptchaCallback"
             data-size="invisible"></div>
        <button type="submit" onclick="return reCaptchaInit('user')" id="user_submit" name="user[submit]" class="btn btn-outline-dark btn">Register</button>
        <a href="{{ path('user_login') }}" class="btn btn-outline-info float-right">Login</a>
    </div>

    {% do form.submit.setRendered %}
    {{ form_end(form) }}
{% endblock %}