{% extends '/Layout/base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="mt-3">
        <h1>Welcome {{ app.user.username }}</h1>
    </div>
    <table class="table">
        <tr>
            <td>Account Created on</td>
            <td>{{ app.user.userInfo.createdAt|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ app.user.userInfo.name }}</td>
        </tr>
        <tr>
            <td>Billing Address</td>
            <td>{{ app.user.userInfo.billingAddress }}</td>
        </tr>
        <tr>
            <td>Company identification</td>
            <td>{{ app.user.userInfo.companyIdentification }}</td>
        </tr>
    </table>
    <div>
        <a href="{{ path('user_logout') }}">Logout</a>
    </div>

{% endblock %}